@{
    Layout = "~/Views/Shared/_SharePingLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container text-center">
        <h2><b><font style="color:red">您有三个红包待领取</font></b></h2>
        <img src="~/images/Base/image_redpaper.jpg" width="300" height="200"/>
        <h3><b>红包一</b></h3>
        <p style="margin-left:10px;">闪荐APP，无需注册即可领取更大红包！复制这段信息，￥W8Jg06EeCPs￥ ，打开【手机淘宝】即可领取！</p>
        <h3><b>红包二</b></h3>
        <p style="margin-left:10px;">Android手机,<a href="http://www.mingshukeji.com.cn/Download/com.mingshu.goods.apk">下载闪荐</a> 即可领取红包！</p>
        <p><font style="color:red;">限双十一当天使用！仅100个，先到先得哦！</font></p>
        <h3><b>红包三</b></h3>
        <p style="margin-left:10px;">Android手机,<a href="http://www.mingshukeji.com.cn/Download/com.mingshu.goods.apk">下载闪荐</a> 即可领取红包！</p>
        <p><font style="color:red;">最高可领99元，三天内有效！</font></p>
        <hr />
        <p>安卓用户如点击下载闪荐没有反应，请点击右上角，选择在浏览器中打开后，再试即可！</p>
        <br />
        <p>苹果手机用户，直接访问<a href="http://www.mingshukeji.com.cn/SharePing">此处</a>领取双十一提前购优惠券！记得收藏网址下次使用哦。</p>
    </div>
</body>
</html>
