.dialog{
    position: fixed;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index:9999;
    display:none;
    text-align:center;
}
.textd{
    background-color:#ffffd7;
    width:300px;
    height:50px;
    margin:auto;
}
.img{
    background-color:aqua;
    width:300px;
    height:300px;
    margin:auto;
}
.tips-opentaobao{
    color:red;
}

/*微信公众号相关*/
.wechatButton{
    position:fixed;
    top: 5px;
    right: 15px;
    width:40px;
    height:40px;
    margin: auto;
    z-index:9998;
    text-align:center;
}
@media (max-width:768px){
    .wechatButton{
        display:none;
    }
}
.wechatButton img{
    width:40px;
    height:40px;
}
.wechatNumber{
    position:absolute;
    top: 5px;
    right: 0px;
    width:190px;
    height:190px;
    margin: auto;
    z-index:9999;
    display:none;
    text-align:center;
}
.wechatNumber img{
    width:160px;
    height:160px;
}
/*登陆注册头*/
.status-login-register{
    background-color:gold;
    height:20px;
    margin-bottom:8px;
    margin-top:-9px;
}
.slider-show{
    margin-top:-10px;
    border-radius: 20px;
}

/*登录、注册、上传商品表单居中*/ 
.form-center {
    width: 300px;
    margin: 0 auto;
    background-color: antiquewhite;
    height: 280px;
    border-radius: 10px;
}
/*DIV居中*/
.div-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  
/*简单的验证码实现*/
.code {
	background: url(code_bg.jpg);
	font-family: Arial;
	font-style: italic;
	color: blue;
	font-size: 30px;
	border: 0;
	padding: 2px 3px;
	letter-spacing: 3px;
	font-weight: bolder;
	float: left;
	cursor: pointer;
	width: 70%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
    margin-top:-22px;
}
/*二级菜单*/
.menulevel2 ul {
	list-style-type: none;
    background-color:#000080;
    width:100px;
}

.menulevel2 ul li {
	float: left;
    /*以下设置仅为方便查看效果*/
}

.menulevel2 ul li ul {
	display: none;
    position:absolute;
}

.menulevel2 li:hover ul {
	display: block;
}  
.menulevel2 ul li ul li {
	float: none;
}
.menulevel2 ul li ul li a{
	float: none;
	border-right: none;
	border-top: 1px dotted #ccc;
	background: red;
}
/*按钮居中显示*/
.div_bottom{
    position:absolute;
    bottom:10px;
    width:93%;/*100%的话是390，但母容器padding-left了15px,恨到偏右了*/
}
.btn-center{
    margin:0 auto;
    text-align:center;
}