@{
    Layout = "~/Views/Shared/_WelfareFlashLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="~/Scripts/qrcode.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .body-center {
            text-align: center;
        }

        #div_center {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div>
        <h1>内容有待更新</h1>
    </div>
</body> 
</html>
