@{
    Layout = "~/Views/Shared/_WelfareFlashLayout.cshtml";
}


<div>
    <div class="col-xs-12" style="background-color:aliceblue;text-align:left;margin-top:10px;">
        <p class="lead"><font color="red">支付包红包免费领取。</font></p>
        <p><font color="blue">打开支付宝，搜索9980362，即可拿到红包，支付时直接抵现，每天一次哦！</font></p>
    </div>
    <div class="col-xs-12" style="background-color:aliceblue;text-align:left;margin-top:10px;">
        <p class="lead"><font color="red">持续更新中……</font></p>
    </div>
</div>