@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <h4>关于MSKJ</h4>
        <h4><b>商务合作</b></h4>
        <h5 style="margin-left:30px"><font color='#1849F8'>商务合作：publicresource@126.com  微信:ydxc608  公众号:mskjvip888</font></h5>
        <h4><b>官方主页</b></h4>
        <h5 style="margin-left:30px">官方主页:<a href='http://www.mingshukeji.com.cn'>http://www.mingshukeji.com.cn</a></h5>
    </div>
</body>
</html>
