@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <h1>MSKJ-产中中心</h1>
        <h2><a href="/SharePing/Index">闪荐</a></h2>
    </div>
</body>
</html>
