@{
    Layout = "~/Views/Shared/_SharePingLayout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1>闪荐</h1>
        <p class="lead">以闪电的速度将优惠券推送给大家！以闪电的速度将性价比高的产品推送给大家！</p>
        <p class="lead">我们的口号:<font color="red">寻找更便宜的好东西！Cheaper，Better And Faster</font></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><font color="blue">关于闪荐</font></h2>
            <p>闪荐是一款导购类APP。主要是为广大买家提供各种淘宝天猫优惠券。这些都是购物达人推荐的性价比超高的好东西，也有优质商家做活动的好东西，通过人工仔细审核后才推送给广大买家。</p>
            <p>广大买家无需注册，即可根据自己的需求进行选择领取优惠券。</p>
            @*<p><a class="btn btn-default" href="~/Home/Aboutus">了解更多 &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2><font color="blue">软件下载</font></h2>
            <p>目前只有Android版本。</p>
            <p>无需注册，大额优惠券随便领取！还可以申请成为淘宝达人，通过分享商品<font color="red">赚钱</font></p>
            <p>百分之百用户真实推荐！百分之百人工急速审核！</p>
            <p><a class="btn btn-default" href="~/SharePing/SjDownload">进入下载 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><font color="blue">苹果用户</font></h2>
            <h5>苹果用户可以直接通过手机访问网页！</h5>
            <p><a class="btn btn-default" href="~/SharePing">点击访问 &raquo;</a></p>
        </div>
    </div>
</div>
