@{
    Layout = "~/Views/Shared/_SharePingLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="~/Scripts/qrcode.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .body-center {
            text-align: center;
        }

        #div_center {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="body-center">
        <div class="dialog">
            <div id="qrcodeImg" class="img"></div>
            <div class="textd">
                <p class="tips-opentaobao">打开手机淘宝，扫描二维码即可领取优惠券。</p>
                <p id="pHide">点击任意地方消失,30秒后自动隐藏！</p>
            </div>
        </div>
        <div>
            <div>
                <h4>想自己去找券？<a href="/SharePing/FindCoupon">点击这里</a></h4>
                @*<div class="pagination"></div>*@
            </div>
            <div class="main">
                @*<div class="col-md-3">
                        <a href="http://sj.qq.com/myapp/detail.htm?apkName=com.alimama.moon">
                            <img src="/img/softicon/tblm_icon.png" width="94" height="94" />
                        </a>
                        <h4>&nbsp;&nbsp;淘宝联盟</h4>
                        <p><a class="btn btn-default" href="http://sj.qq.com/myapp/detail.htm?apkName=com.alimama.moon">进入下载 &raquo;</a></p>
                    </div>*@
            </div>
        </div>
        <script type="text/javascript">
            var x = 31;
            var qrcodeImg = new QRCode(document.getElementById("qrcodeImg"), {
                width: 300,
                height: 300,
            });
            function go() {
                if ($(".dialog").is(":visible"))
                {
                    x--;
                    if (x >= 0) {
                        document.getElementById("pHide").innerHTML = "点击任意地方消失," + x + "秒后自动消失！";
                    } else {
                        $(".dialog").hide();
                        x = 31;
                    }
                }
            }
            onload = function () {
                getRecommandGoods(1);
                setInterval(go, 1000);
            }

            function getRecommandGoods(curPageNo) {
                $.getJSON("http://www.mingshukeji.com.cn/api/RecommandGoods/GetRecommandGoodsList?curPage=" + curPageNo + "&pageSize=20&type=2&filter=").success(function (data) {
                    $(".main").html("");
                    $.each(data.data.DataList, function (i, item) {
                        $(".main").append("<div class='col-md-3 parentDiv'>"
                            + "<p><a class='linkA' href='" + item.link + "'><img src='" + item.image + "' width='280' height='200'/></a></p>"
                        + "<p width='280'>" + item.description + "</p>"
                        + "<p>现价：<font color='red'>" + item.price + "</font>&nbsp;&nbsp;<s>原价：" + item.oldprice + "</s></p>"
                        + "<p>推荐时间:<font color='blue'>" + item.recommendtime + "</font></p>"
                        + "<p><a class='btn btn-default' href='" + item.link + "'>点击领取优惠券</a>&nbsp;&nbsp;<a class='btn btn-default btnQ' img_link='" + item.image + "' data_link='" + item.link + "'>显示二维码</a></p>"
                        + "<br></div>");
                    });
                    //分页显示
                    //var totalPages = data.data.TotalPages;
                    //$(".pagination").html("");
                    //for (var i = 1; i <= totalPages; i++) {
                    //    if (i == curPageNo) {
                    //        $(".pagination").append(i);
                    //    } else {
                    //        $(".pagination").append("<a href='#' click='getRecommandGoods("+i+")'>"+i+"</a>");
                    //    }
                    //}
                    $('.btnQ').on('click', function (e) {
                        //JS生成二维码，并且显示在悬浮DIV中
                        var goodsLink = $(this).attr('data_link');
                        qrcodeImg.makeCode(goodsLink);

                        document.getElementById("pHide").innerHTML = "点击任意地方消失,30秒后自动消失！"
                        $(".dialog").show();
                    });
                })

            }

            $('.dialog').on('click', function (e) {
                $(".dialog").hide();
                x = 31;
            })
        </script>
    </div>
</body> 
</html>
