@{
    Layout = "~/Views/Shared/_H5GameLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <h2>H5小游戏列表</h2>
        <table class="table">
            <tr>
                <th width="140">游戏名称</th>
                <th>开发语言</th>
                <th>开发过程</th>
                <th width="80">开发人员</th>
                <th width="128">上传时间</th>
            </tr>
            <tr>
                <td><a href="/H5Games/Wzq">五子棋</a></td>
                <td>JavaScript</td>
                <td><a>点击查看</a></td>
                <td align="center">Lisx24</td>
                <td>2018-02-08</td>
            </tr>
        </table>
    </div>
</body>
</html>
