<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="福利闪达！各种优惠福利闪达到您口袋！提供衣食住行各种优惠福利攻略,让您不错过一个优质的活动。" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <link href="~/Content/style.css" type="text/css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
           bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else{
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
    <main>
        <div class="container" style="max-width:1024px;margin-top:0px;margin-left:0px;margin-right:0px">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-center"><font color="red">衣食住行</font></h2>
                </div>
                <div class="col-md-4"
                    <h2 class="text-center"><font color="red">长期有效</font></h2>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center"><font color="red">应用推荐</font></h2>
                </div>
            </div>
        </div>
        @RenderBody()
    </main>
</body>
</html>
