@{
    Layout = "~/Views/Shared/_IntegralPlatformLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="~/Scripts/qrcode.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .body-center {
            text-align: center;
        }

        #div_center {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="body-center">
        <h3>积分平台</h3>
        <a href="#">登陆</a>
        <a href="#">注册</a>
        <!--淘宝客、小米小店-->
        <a href="#">获取积分</a>
        <!--话费充值-->
        <a href="#">积分兑换</a>
    </div>
    <script type="text/javascript">
    </script>
</body> 
</html>
