@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>
@*<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="images/icon_114.png" />

</head>
<body>
    <div class="container">
        <div style="margin: 0 auto">
            @foreach (var item in @Model)
            {
                <div style="background-color:#dcdcd9;font-size:18px">@item.Question</div>
                <div>
                    <p style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Explain</p>
                </div>
            }
        </div>
    </div>
</body>
</html>*@

<html>
<head>
    <title>js验证码</title>
    <style type="text/css">
        
    </style>
    <script type="text/javascript">

    </script>
</head>
<body onload="createCode()">
    <form id="form1" runat="server" onsubmit="validateCode()">
        <div>
            <table border="0" cellspacing="5" cellpadding="5">
                <tr>
                    <td></td>
                    <td></td>
                    <td><a href="#" onclick="createCode()">看不清换一张</a></td>
                </tr>
                <tr>
                    <td>验证码：</td>
                    <td><input style="float:left;" type="text" id="inputCode" /></td>
                    <td>请输入验证码</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input id="Button1" onclick="validateCode();" type="button" value="确定" /></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
