<div class="container" style="max-width:1024px;">
    <h1 class="text-center" style="color:purple;">我们提供的服务</h1>
    <div class="row">
        <div class="col-md-4" style="background-color:aquamarine;height:220px;">
            <h2 class="text-center"><font color="red">软件培训</font></h2>
            <h5>C#、Android、SQL Server等软件开发技术的线上线下培训服务</h5>
            <div class="div_bottom">
                <p class="btn-center"><a class="btn btn-default" href="~/ProductService/Training">了解更多 &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4" style="background-color:burlywood;height:220px;">
            <h2 class="text-center"><font color="red">计算机软件开发</font></h2>
            <h5>根据用户需求，实现各种管理软件、服务软件的开发。</h5>
            <div class="div_bottom">
                <p class="btn-center"><a class="btn btn-default" href="~/ProductService/Software">了解更多 &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4" style="background-color:aquamarine;height:220px;">
            <h2 class="text-center">计算机相关硬件销售</h2>
            <p>一体机销售，鼠标、键盘、主机等计算机配件销售，协助DIY组装电脑！</p>
            <div class="div_bottom">
                <p class="btn-center"><a class="btn btn-default" href="~/ProductService/Hardware">了解更多 &raquo;</a></p>
            </div>
        </div>
    </div>
</div>